@model AddressViewModel

<div class="form-group">
    <label asp-for="Superscription" class="control-label"></label>
    <input asp-for="Superscription" class="form-control" />
    <span asp-validation-for="Superscription" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ZipCode" class="control-label"></label>
    <input asp-for="ZipCode" class="form-control" />
    <span asp-validation-for="ZipCode" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="State" class="control-label"></label>
    <input asp-for="State" class="form-control" />
    <span asp-validation-for="State" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="City" class="control-label"></label>
    <input asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Number" class="control-label"></label>
    <input asp-for="Number" class="form-control" />
    <span asp-validation-for="Number" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="District" class="control-label"></label>
    <input asp-for="District" class="form-control" />
    <span asp-validation-for="District" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TypeOfAddress" class="control-label"></label>
    <input asp-for="TypeOfAddress" class="form-control" />
    <span asp-validation-for="TypeOfAddress" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Reference" class="control-label"></label>
    <input asp-for="Reference" class="form-control" />
    <span asp-validation-for="Reference" class="text-danger"></span>
</div>
