@model CustomerViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-action=@ViewData["Action"]>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameViewModel" class="control-label"></label>
                <input asp-for="NameViewModel" class="form-control" />
                <span asp-validation-for="NameViewModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailViewModel" class="control-label"></label>
                <input asp-for="EmailViewModel" class="form-control" />
                <span asp-validation-for="EmailViewModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPFViewModel" class="control-label"></label>
                <input asp-for="CPFViewModel" class="form-control" />
                <span asp-validation-for="CPFViewModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNPJViewModel" class="control-label"></label>
                <input asp-for="CNPJViewModel" class="form-control" />
                <span asp-validation-for="CNPJViewModel" class="text-danger"></span>
            </div>
            @Html.Partial("Address")
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
