@model ProductViewModel

<h4>Produtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewData["Action"]">
            @Html.HiddenFor(model => model.IdViewModel)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameViewModel" class="control-label"></label>
                <input asp-for="NameViewModel" class="form-control" />
                <span asp-validation-for="NameViewModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceViewModel" class="control-label"></label>
                <input asp-for="PriceViewModel" class="form-control" />
                <span asp-validation-for="PriceViewModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionViewModel" class="control-label"></label>
                <input asp-for="DescriptionViewModel" class="form-control" />
                <span asp-validation-for="DescriptionViewModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
